.Qutub-main-row, .Qutub-sub-row{
    /* border:1px solid black; */
}
.Qutub-sub-row{
    margin-left: 300px;
    height: 600px;
}
.Qutub-heading h1{
    /* border: 2px solid blue; */
    text-align: center;
    height:50px;
    line-height: 50px;
}
.Qutub-image{
    /* border: 2px solid green; */
    height: 400px;
    background-image:url('../Images/Qutub2.jpg');
    background-size:100% 100% ;
    border-radius:30px;
}
.Qutub-para div{
    /* border: 2px solid orange; */
    margin-top: 10px;
    
}


.Qutub-main-para, .Qutub-sub-para{
    /* border: 1px solid green; */
    margin: 0px;
}