.taj-main-row, .taj-sub-row{
    /* border:1px solid black; */
}

.taj-main-row{
/* overflow:auto; */
}

.taj-sub-row{
    margin-left: 300px;
    height: 615px;
}
.taj-heading h1{
    /* border: 2px solid blue; */
    text-align: center;
    height:50px;
    line-height: 50px;
}
.taj-image{
    /* border: 2px solid green; */
    

    height: 400px;
    background-image:url('../Images/taj1.jpg');
    background-size:100% 100% ;
    border-radius:30px;
}

.taj-para div{
    /* border: 2px solid orange; */
    margin-top: 10px;
    
}


.taj-main-para, .taj-sub-para{
    /* border: 1px solid green; */
    margin: 0px;
}

.button1{
    margin-left:140px;
}